<p>Hello <%= @request.name %>,</p>

<p>It has been a while !</p>

<p>Our coworking place is still busy but don't worry, you remain on the waiting list for joining us. Your are on the <%= @request.waiting_list_position.ordinalize %> position.</p>

<%= link_to "Please, confirm that your are still interested in joining us !", renew_expiring_date_request_url(@request.id) %>

<p>This link will expire in 7 days. After that date, you will have to resubscribe if you want to apply again for joining us.</p>

<p>We hope to see you soon !</p>

<p>The Coworking team</p>
